doctype html
html
  body
    h2(style='color:#4CAF50')  Login to Explore more
    form(method='post',action='http://localhost:3000/users/login')
      | E-mail:
      br
      |   
      input(style='border:0px; border-bottom:solid 2px #4CAF50', type='text', name='email', value='', placeholder='Email')
      |   
      br
      |   Password:
      br
      |   
      input(style='border:0px; border-bottom:solid 2px #4CAF50',type='password', name='password', value='', placeholder='Password')
      |   
      br
      hr
      |   
      |   
      input(style='background-color:#4CAF50; color:white', type='submit', name='', value='Login')
