doctype html
html
  body
    h2(style='color:#4CAF50')  SignUp to Explore more
    form(method='post', action='http://localhost:3000/users/signup')
      | First name:
      br
      |   
      input(style='border:0px; border-bottom:solid 2px #4CAF50', type='text', name='firstName', value='', placeholder='firstName', required='')
      |   
      br
      |   Last name:
      br
      |   
      input(style='border:0px; border-bottom:solid 2px #4CAF50',type='text', name='lastName', value='', placeholder='lastName', required='')
      |   
      br
      hr
      |   Email:
      br
      |   
      input(style='border:0px; border-bottom:solid 2px #4CAF50', type='email', name='email', value='', placeholder='email', required='')
      |   
      br
      br
      |   Phone no:
      br
      |   
      input(style='border:0px; border-bottom:solid 2px #4CAF50',type='number', name='mobileNumber', value='', placeholder='mobile number', required='')
      |   
      br
      br
      |   Password:
      br
      |   
      input(style='border:0px; border-bottom:solid 2px #4CAF50', type='password', name='password', value='', placeholder='Password', required='')
      |   
      br
      br
      |   
      input(style='background-color:#4CAF50; color:white', type='submit', value='Signup')
